/abstract.aux
/appenA.aux
/chap01.aux
/chap02.aux
/chap03.aux
/chap04.aux
/chap05.aux
/dedic.aux
/document.aux
/document.log
/document.pdf
/document.synctex.gz
/resumo.aux
/thanks.aux
/thesis.aux
/thesis.bbl
/thesis.blg
/thesis.lof
/thesis.log
/thesis.lot
/thesis.out
/thesis.toc
/tmp/
/documen.synctex.gz
